extends layout

block content 
    main 
        #container 
            h2#logintitle Who are you ?
            br
            .error #{errorstatus}
            form#loginform(action="/login" method='POST')
                field 
                    label(for="username") Username :    
                    input.inputform(type="text" name="username" placeholder='')  
                    label(for="password") Password :    
                    input.inputform(type="password" name="password" placeholder='')  
                button#submitbutton(type='submit') Log In
                br
            p No account ?
            a.simplelinks(href='/register.pug') Register Here