* {
  margin:0;
}
body {
  background-color: black;
}
#backgroundimage {
  position: absolute;
  opacity: 30%;
  z-index: -1;
  filter:blur(5px) contrast(150%);
  width: 100%;
}
nav {
  background-color:#3f0502 ;  
}

nav ul {
  display: flex;
  justify-content: ;
  list-style: none;
  text-align: center;
  padding:0;
}
nav ul li {
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color :#d2bd96;
  width: 100%;
  box-sizing: border-box;
}

